

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-unit {
  background-color: #fff;
}

#location, #sandimetz, #schedule, #clearfit {
  padding-top:12em;
}

#location h1, #sandimetz h1, #schedule h1, #clearfit h1 {
  padding-top:3em;
}













